footer {
  background-color: #2f303a;
  padding: 60px 0;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: $primary-white-color;
}
.adress-info__text {
  margin-bottom: 9px;

  color: $primary-white-color;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.adress-list__item {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  &:last-child {
    margin-bottom: 60px;
  }
}

.adress-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.social-media__label,
.form-field__title {
  margin-bottom: 20px;
  font-size: 14px;

  color: $primary-white-color;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.media-list {
  display: flex;
  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.media-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.media-list__item {
  margin-right: 10px;

  &last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.media-list__icon {
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}
.form-subscription {
  margin-left: auto;
  align-items: flex-end;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.form-field {
  @media screen and (min-width: 1200px) {
    display: inline-block;
    flex-direction: column;

    margin-right: 12px;
  }
}
.form-field__input {
  min-width: 290px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  color: $primary-white-color;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-bottom: 0;
  }
}
.tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    margin: 0 76px;
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
}
.social-media {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

footer .container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.adress-info {
  @media screen and (min-width: 1200px) {
    display: inline-block;

    margin-right: 70px;
  }
}
.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-subscription__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.form-subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
