@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Header-mob.jpg);
  }
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 0;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Img-17-2.jpg);
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
  }
}
.hero__label {
  width: 260px;
  margin-bottom: 30px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 480px) {
    width: 360px;
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
  }
}
/* button */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 11px 34px;
  min-width: 200px;
  border: none;
  cursor: pointer;

  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
